{%  extends 'pages/base.html' %}
{% load static %} {# Prepare for loading own css. #}

{% block content %}

<div class="page-header">
    <h1>Django template</h1>
    <h2>This is just a default website.</h2>
</div>

{% for article in article_list %}
<div class="article">
    <p>published: {{ article.published_date }}</p>
    <h1>{{ article.title }}</h1>
    <p class="article-text">{{ article.text | safe }}</p> {# Replaced linebreaksbr by safe to render images inserted with TinyMCE. #}
</div>
{% endfor %}

{% endblock content %}